In [32]:
!pip install openai codex

Requirement already satisfied: openai in /opt/conda/lib/python3.7/site-packages (0.27.2)
Requirement already satisfied: codex in /opt/conda/lib/python3.7/site-packages (0.6.8)
Requirement already satisfied: typing-extensions in /opt/conda/lib/python3.7/site-packages (from openai) (4.4.0)
Requirement already satisfied: requests>=2.20 in /opt/conda/lib/python3.7/site-packages (from openai) (2.28.2)
Requirement already satisfied: tqdm in /opt/conda/lib/python3.7/site-packages (from openai) (4.64.1)
Requirement already satisfied: aiohttp in /opt/conda/lib/python3.7/site-packages (from openai) (3.8.3)
Requirement already satisfied: Pillow<9.0,>=8.0 in /opt/conda/lib/python3.7/site-packages (from codex) (8.4.0)
Requirement already satisfied: whitenoise[brotli]<6.0,>=5.2 in /opt/conda/lib/python3.7/site-packages (from codex) (5.3.0)
Requirement already satisfied: websocket_client<2.0,>=1.2 in /opt/conda/lib/python3.7/site-packages (from codex) (1.4.2)
Requirement already satisfied: bidict<0.22,>=0.21 in /opt/conda/lib/python3.7/site-packages (from codex) (0.21.4)
Requirement already satisfied: django-cors-headers<4.0,>=3.2 in /opt/conda/lib/python3.7/site-packages (from codex) (3.14.0)
Requirement already satisfied: django<4.0,>=3.1 in /opt/conda/lib/python3.7/site-packages (from codex) (3.2.18)
Requirement already satisfied: comicbox<0.2.0,>=0.1.7 in /opt/conda/lib/python3.7/site-packages (from codex) (0.1.7)
Requirement already satisfied: django-dark<0.2,>=0.1 in /opt/conda/lib/python3.7/site-packages (from codex) (0.1.9)
Requirement already satisfied: simplejson<4.0,>=3.17 in /opt/conda/lib/python3.7/site-packages (from codex) (3.18.4)
Requirement already satisfied: pycountry<21.0,>=20.7 in /opt/conda/lib/python3.7/site-packages (from codex) (20.7.3)
Requirement already satisfied: hypercorn[h3]<0.12.0,>=0.11.0 in /opt/conda/lib/python3.7/site-packages (from codex) (0.11.2)
Requirement already satisfied: stringcase<2.0,>=1.2 in /opt/conda/lib/python3.7/site-packages (from codex) (1.2.0)
Requirement already satisfied: djangorestframework<4.0,>=3.11 in /opt/conda/lib/python3.7/site-packages (from codex) (3.14.0)
Requirement already satisfied: ansicolors<2.0,>=1.1 in /opt/conda/lib/python3.7/site-packages (from codex) (1.1.8)
Requirement already satisfied: fnvhash<0.2,>=0.1 in /opt/conda/lib/python3.7/site-packages (from codex) (0.1.0)
Requirement already satisfied: watchdog<3.0,>=2.0 in /opt/conda/lib/python3.7/site-packages (from codex) (2.3.1)
Requirement already satisfied: parse<2.0,>=1.15 in /opt/conda/lib/python3.7/site-packages (from comicbox<0.2.0,>=0.1.7->codex) (1.19.0)
Requirement already satisfied: rarfile<5.0,>=4.0 in /opt/conda/lib/python3.7/site-packages (from comicbox<0.2.0,>=0.1.7->codex) (4.0)
Requirement already satisfied: pytz in /opt/conda/lib/python3.7/site-packages (from django<4.0,>=3.1->codex) (2022.7.1)
Requirement already satisfied: sqlparse>=0.2.2 in /opt/conda/lib/python3.7/site-packages (from django<4.0,>=3.1->codex) (0.4.3)
Requirement already satisfied: asgiref<4,>=3.3.2 in /opt/conda/lib/python3.7/site-packages (from django<4.0,>=3.1->codex) (3.6.0)
Requirement already satisfied: h2>=3.1.0 in /opt/conda/lib/python3.7/site-packages (from hypercorn[h3]<0.12.0,>=0.11.0->codex) (4.1.0)
Requirement already satisfied: h11 in /opt/conda/lib/python3.7/site-packages (from hypercorn[h3]<0.12.0,>=0.11.0->codex) (0.14.0)
Requirement already satisfied: toml in /opt/conda/lib/python3.7/site-packages (from hypercorn[h3]<0.12.0,>=0.11.0->codex) (0.10.2)
Requirement already satisfied: priority in /opt/conda/lib/python3.7/site-packages (from hypercorn[h3]<0.12.0,>=0.11.0->codex) (2.0.0)
Requirement already satisfied: wsproto>=0.14.0 in /opt/conda/lib/python3.7/site-packages (from hypercorn[h3]<0.12.0,>=0.11.0->codex) (1.2.0)
Requirement already satisfied: aioquic<1.0,>=0.9.0 in /opt/conda/lib/python3.7/site-packages (from hypercorn[h3]<0.12.0,>=0.11.0->codex) (0.9.20)
Requirement already satisfied: charset-normalizer<4,>=2 in /opt/conda/lib/python3.7/site-packages (from requests>=2.20->openai) (2.1.1)
Requirement already satisfied: idna<4,>=2.5 in /opt/conda/lib/python3.7/site-packages (from requests>=2.20->openai) (3.4)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/lib/python3.7/site-packages (from requests>=2.20->openai) (2022.12.7)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /opt/conda/lib/python3.7/site-packages (from requests>=2.20->openai) (1.26.14)
Requirement already satisfied: Brotli in /opt/conda/lib/python3.7/site-packages (from whitenoise[brotli]<6.0,>=5.2->codex) (1.0.9)
Requirement already satisfied: aiosignal>=1.1.2 in /opt/conda/lib/python3.7/site-packages (from aiohttp->openai) (1.3.1)
Requirement already satisfied: attrs>=17.3.0 in /opt/conda/lib/python3.7/site-packages (from aiohttp->openai) (22.2.0)
Requirement already satisfied: frozenlist>=1.1.1 in /opt/conda/lib/python3.7/site-packages (from aiohttp->openai) (1.3.3)
Requirement already satisfied: asynctest==0.13.0 in /opt/conda/lib/python3.7/site-packages (from aiohttp->openai) (0.13.0)
Requirement already satisfied: async-timeout<5.0,>=4.0.0a3 in /opt/conda/lib/python3.7/site-packages (from aiohttp->openai) (4.0.2)
Requirement already satisfied: multidict<7.0,>=4.5 in /opt/conda/lib/python3.7/site-packages (from aiohttp->openai) (6.0.4)
Requirement already satisfied: yarl<2.0,>=1.0 in /opt/conda/lib/python3.7/site-packages (from aiohttp->openai) (1.8.2)
Requirement already satisfied: pylsqpack<0.4.0,>=0.3.3 in /opt/conda/lib/python3.7/site-packages (from aioquic<1.0,>=0.9.0->hypercorn[h3]<0.12.0,>=0.11.0->codex) (0.3.16)
Requirement already satisfied: cryptography>=3.1 in /opt/conda/lib/python3.7/site-packages (from aioquic<1.0,>=0.9.0->hypercorn[h3]<0.12.0,>=0.11.0->codex) (38.0.2)
Requirement already satisfied: pyopenssl>=20 in /opt/conda/lib/python3.7/site-packages (from aioquic<1.0,>=0.9.0->hypercorn[h3]<0.12.0,>=0.11.0->codex) (23.0.0)
Requirement already satisfied: hyperframe<7,>=6.0 in /opt/conda/lib/python3.7/site-packages (from h2>=3.1.0->hypercorn[h3]<0.12.0,>=0.11.0->codex) (6.0.1)
Requirement already satisfied: hpack<5,>=4.0 in /opt/conda/lib/python3.7/site-packages (from h2>=3.1.0->hypercorn[h3]<0.12.0,>=0.11.0->codex) (4.0.0)
Requirement already satisfied: cffi>=1.12 in /opt/conda/lib/python3.7/site-packages (from cryptography>=3.1->aioquic<1.0,>=0.9.0->hypercorn[h3]<0.12.0,>=0.11.0->codex) (1.15.1)
Requirement already satisfied: pycparser in /opt/conda/lib/python3.7/site-packages (from cffi>=1.12->cryptography>=3.1->aioquic<1.0,>=0.9.0->hypercorn[h3]<0.12.0,>=0.11.0->codex) (2.21)
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv

In [33]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

In [34]:
df=pd.read_csv("/kaggle/input/sample-sales-data/sales_data_sample.csv",encoding='latin1')

### df.head()

In [35]:
df.head()

,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,ORDERDATE,STATUS,QTR_ID,MONTH_ID,YEAR_ID,...,ADDRESSLINE1,ADDRESSLINE2,CITY,STATE,POSTALCODE,COUNTRY,TERRITORY,CONTACTLASTNAME,CONTACTFIRSTNAME,DEALSIZE
0,10107,30,95.70,2,2871.00,2/24/2003 0:00,Shipped,1,2,2003,...,897 Long Airport Avenue,NaN,NYC,NY,10022,USA,NaN,Yu,Kwai,Small
1,10121,34,81.35,5,2765.90,5/7/2003 0:00,Shipped,2,5,2003,...,59 rue de l'Abbaye,NaN,Reims,NaN,51100,France,EMEA,Henriot,Paul,Small
2,10134,41,94.74,2,3884.34,7/1/2003 0:00,Shipped,3,7,2003,...,27 rue du Colonel Pierre Avia,NaN,Paris,NaN,75508,France,EMEA,Da Cunha,Daniel,Medium
3,10145,45,83.26,6,3746.70,8/25/2003 0:00,Shipped,3,8,2003,...,78934 Hillside Dr.,NaN,Pasadena,CA,90003,USA,NaN,Young,Julie,Medium
4,10159,49,100.00,14,5205.27,10/10/2003 0:00,Shipped,4,10,2003,...,7734 Strong St.,NaN,San Francisco,CA,NaN,USA,NaN,Brown,Julie,Medium

In [36]:
df.groupby('PRODUCTCODE')['SALES'].sum().sort_values()

PRODUCTCODE
S24_3969     33181.66
S32_2206     41353.43
S24_2022     44667.16
S24_2972     46515.92
S24_1628     46676.51
              ...
S18_2238    154623.95
S12_1108    168585.32
S10_4698    170401.07
S10_1949    191073.03
S18_3232    288245.42
Name: SALES, Length: 109, dtype: float64

In [37]:
df.columns

Index(['ORDERNUMBER', 'QUANTITYORDERED', 'PRICEEACH', 'ORDERLINENUMBER',
       'SALES', 'ORDERDATE', 'STATUS', 'QTR_ID', 'MONTH_ID', 'YEAR_ID',
       'PRODUCTLINE', 'MSRP', 'PRODUCTCODE', 'CUSTOMERNAME', 'PHONE',
       'ADDRESSLINE1', 'ADDRESSLINE2', 'CITY', 'STATE', 'POSTALCODE',
       'COUNTRY', 'TERRITORY', 'CONTACTLASTNAME', 'CONTACTFIRSTNAME',
       'DEALSIZE'],
      dtype='object')

In [38]:
sales=df.copy()

In [39]:
import openai
import pandas as pd

import sqlalchemy
from sqlalchemy import create_engine
from sqlalchemy import text
temp_db=create_engine('sqlite:///:memory',echo=True)
data=sales.to_sql(name='sale_data',con=temp_db)

2023-04-01 09:55:09,804 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("sale_data")
2023-04-01 09:55:09,806 INFO sqlalchemy.engine.Engine [raw sql] ()

ValueError: Table 'sale_data' already exists.

In [41]:
# Initialize OpenAI API
openai.api_key = "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"
def create_table_definition(sales):
  prompt="""### sqlite SQL table, with its properties:
  #
  # sale_data({})
  #
  """.format(",".join(str(col) for col in df.columns))
  return prompt
def combine_prompts(sales,query_prompt):
  definition=create_table_definition(sales)
  query_init_string=f"### A query to answer: {query_prompt}\n SELECT"
  return definition+query_init_string
nlp_text=input("Enter the info you want:")
nlp_text
response=openai.Completion.create(
    model='text-davinci-002',
    prompt=combine_prompts(sales,nlp_text),
    temperature=0,
    max_tokens=150,
    top_p=1.0,
    frequency_penalty=0,
    presence_penalty=0,
    stop=['#',';']
)
response.choices[0].text

Enter the info you want: Which city has my best sales?

' city, SUM(sales) AS total_sales\nFROM sale_data\nGROUP BY city\nORDER BY total_sales DESC\nLIMIT 1'

In [42]:
a=str(response.choices[0].text).upper()

In [43]:
a

' CITY, SUM(SALES) AS TOTAL_SALES\nFROM SALE_DATA\nGROUP BY CITY\nORDER BY TOTAL_SALES DESC\nLIMIT 1'

In [44]:
with temp_db.connect() as conn:
    result=conn.execute(text('Select'+a)).fetchall()

2023-04-01 09:55:50,712 INFO sqlalchemy.engine.Engine Select CITY, SUM(SALES) AS TOTAL_SALES
FROM SALE_DATA
GROUP BY CITY
ORDER BY TOTAL_SALES DESC
LIMIT 1
2023-04-01 09:55:50,713 INFO sqlalchemy.engine.Engine [generated in 0.00144s] ()

In [45]:
result

[('Madrid', 1082551.4400000002)]